<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Capital_One_Bank.Properties.Settings.Capital_One_BankConnectionString"
            connectionString="Data Source=DESKTOP-QSUN0UI;Initial Catalog=Capital_One_Bank;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>